<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.codegangsta.aria</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/codegangsta/code/aria/aria</string>
        <string>--config</string>
        <string>/Users/codegangsta/.config/aria/config.yaml</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/codegangsta/code/aria</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/aria.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/aria.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/codegangsta</string>
    </dict>
</dict>
</plist>
